.MainGraph {
  /* width: 100%;
  height: 700px;
  border: none black;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 2px; */
  background-color: rgb(242, 242, 242);
  border: 1px solid black;
  width: 100%;
  height: 700px;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.Overview {
  position: absolute;
  top: 68px;
  left: 20px;
  z-index: 3000;
  padding: 8px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 100px;
  border: solid 1px #555;
  background-color: #fff;
}
.Overview2 {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
